{{- $machineType := promptChoiceOnce . "machineType" "Machine type" (list "personal" "work") -}}

[data]
    machineType = {{ $machineType | quote }}

[edit]
    command = "code"
    args = ["--wait"]
