# alias
alias ls="ls -GF"
alias ll="ls -l"
alias la="ll -a"

# Starship
eval "$(starship init zsh)"

{{ if eq .machineType "work" -}}
# Docker CLI completions
fpath=({{ .chezmoi.homeDir }}/.docker/completions $fpath)
autoload -Uz compinit
compinit

# GCP
alias gcloud='docker run -ti --name gcloud-config gcr.io/google.com/cloudsdktool/google-cloud-cli:stable gcloud'
alias bq='docker run --rm -v ~/.config:/root/.config google/cloud-sdk:stable bq'
{{ end -}}
