# Starship
eval "$(starship init zsh)"

# completions
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
fi
fpath=({{ .chezmoi.homeDir }}/.docker/completions $fpath)

autoload -Uz compinit
compinit

# alias
alias ls="ls -GF"
alias ll="ls -l"
alias la="ll -a"

{{ if eq .machineType "personal" -}}
export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
{{ end -}}

{{ if eq .machineType "work" -}}
# GCP
#alias gcloud='docker run -ti --name gcloud-config gcr.io/google.com/cloudsdktool/google-cloud-cli:stable gcloud'
alias gcloud='docker run -i --volumes-from gcloud-config gcr.io/google.com/cloudsdktool/google-cloud-cli:stable gcloud'
alias bq='docker run -i --volumes-from gcloud-config gcr.io/google.com/cloudsdktool/google-cloud-cli:stable bq'
{{ end -}}
